In [215]:
import pandas as pd, gc

# Ex05. Оптимизация Pandas

## 1. Чтение файла fines.csv

In [216]:
fines_df = pd.read_csv("data/fines.csv", header=0, sep=',')

## 2. Итерации с вычислениями по строкам фрейма данных

In [217]:
def func(row_):
    return row_['Fines'] / row_['Refund'] * row_['Year']

### 2.1. Цикл

In [218]:
new_column = []
for i in range(0, len(fines_df)):
    math_value = func(fines_df.iloc[i])
    new_column.append(math_value)

fines_df.assign(Math=new_column)

        CarNumber  Refund    Fines      Make  Model  Year        Math
0    Y163O8161RUS       2   3200.0      Ford  Focus  1989   3182400.0
1     E432XX77RUS       1   6500.0    Toyota  Camry  1995  12967500.0
2     7184TT36RUS       1   2100.0      Ford  Focus  1984   4166400.0
3    X582HE161RUS       2   2000.0      Ford  Focus  2015   2015000.0
4    92918M178RUS       1   5700.0      Ford  Focus  2014  11479800.0
..            ...     ...      ...       ...    ...   ...         ...
925  C123TH777RUS       2  15000.0       BMW      3  2023  15172500.0
926  H345TK777RUS       2   1000.0  Mercedes    E63  2018   1009000.0
927  C123TH777RUS       1  18000.0       BMW      3  2023  36414000.0
928  C123TH777RUS       2   5000.0       BMW      3  2023   5057500.0
929  H345TK777RUS       2  11000.0  Mercedes    E63  2018  11099000.0

[930 rows x 7 columns]

### 2.2. Цикл с методом iterrows()

In [219]:
new_column = []
for index, row_ in fines_df.iterrows():
    math_value = func(row_)
    new_column.append(math_value)
fines_df.assign(Math=new_column)

        CarNumber  Refund    Fines      Make  Model  Year        Math
0    Y163O8161RUS       2   3200.0      Ford  Focus  1989   3182400.0
1     E432XX77RUS       1   6500.0    Toyota  Camry  1995  12967500.0
2     7184TT36RUS       1   2100.0      Ford  Focus  1984   4166400.0
3    X582HE161RUS       2   2000.0      Ford  Focus  2015   2015000.0
4    92918M178RUS       1   5700.0      Ford  Focus  2014  11479800.0
..            ...     ...      ...       ...    ...   ...         ...
925  C123TH777RUS       2  15000.0       BMW      3  2023  15172500.0
926  H345TK777RUS       2   1000.0  Mercedes    E63  2018   1009000.0
927  C123TH777RUS       1  18000.0       BMW      3  2023  36414000.0
928  C123TH777RUS       2   5000.0       BMW      3  2023   5057500.0
929  H345TK777RUS       2  11000.0  Mercedes    E63  2018  11099000.0

[930 rows x 7 columns]

### 2.3. Apply(lambda x: ())

In [220]:
new_column = fines_df.apply(lambda x: func(x), axis=1)
fines_df.assign(Math=new_column)

        CarNumber  Refund    Fines      Make  Model  Year        Math
0    Y163O8161RUS       2   3200.0      Ford  Focus  1989   3182400.0
1     E432XX77RUS       1   6500.0    Toyota  Camry  1995  12967500.0
2     7184TT36RUS       1   2100.0      Ford  Focus  1984   4166400.0
3    X582HE161RUS       2   2000.0      Ford  Focus  2015   2015000.0
4    92918M178RUS       1   5700.0      Ford  Focus  2014  11479800.0
..            ...     ...      ...       ...    ...   ...         ...
925  C123TH777RUS       2  15000.0       BMW      3  2023  15172500.0
926  H345TK777RUS       2   1000.0  Mercedes    E63  2018   1009000.0
927  C123TH777RUS       1  18000.0       BMW      3  2023  36414000.0
928  C123TH777RUS       2   5000.0       BMW      3  2023   5057500.0
929  H345TK777RUS       2  11000.0  Mercedes    E63  2018  11099000.0

[930 rows x 7 columns]

### 2.4. Вычисления с помощью Series из фрейма данных

In [221]:
new_column = fines_df['Fines'] / fines_df['Refund'] * fines_df['Year']
fines_df.assign(Math=new_column)

        CarNumber  Refund    Fines      Make  Model  Year        Math
0    Y163O8161RUS       2   3200.0      Ford  Focus  1989   3182400.0
1     E432XX77RUS       1   6500.0    Toyota  Camry  1995  12967500.0
2     7184TT36RUS       1   2100.0      Ford  Focus  1984   4166400.0
3    X582HE161RUS       2   2000.0      Ford  Focus  2015   2015000.0
4    92918M178RUS       1   5700.0      Ford  Focus  2014  11479800.0
..            ...     ...      ...       ...    ...   ...         ...
925  C123TH777RUS       2  15000.0       BMW      3  2023  15172500.0
926  H345TK777RUS       2   1000.0  Mercedes    E63  2018   1009000.0
927  C123TH777RUS       1  18000.0       BMW      3  2023  36414000.0
928  C123TH777RUS       2   5000.0       BMW      3  2023   5057500.0
929  H345TK777RUS       2  11000.0  Mercedes    E63  2018  11099000.0

[930 rows x 7 columns]

### 2.5. Вычисления с помощью свойства values фрейма данных

In [222]:
new_column = [row_[0] / row_[1] * row_[2] for row_ in fines_df[['Fines', 'Refund', 'Year']].values]
fines_df = fines_df.assign(Math=new_column)
fines_df

        CarNumber  Refund    Fines      Make  Model  Year        Math
0    Y163O8161RUS       2   3200.0      Ford  Focus  1989   3182400.0
1     E432XX77RUS       1   6500.0    Toyota  Camry  1995  12967500.0
2     7184TT36RUS       1   2100.0      Ford  Focus  1984   4166400.0
3    X582HE161RUS       2   2000.0      Ford  Focus  2015   2015000.0
4    92918M178RUS       1   5700.0      Ford  Focus  2014  11479800.0
..            ...     ...      ...       ...    ...   ...         ...
925  C123TH777RUS       2  15000.0       BMW      3  2023  15172500.0
926  H345TK777RUS       2   1000.0  Mercedes    E63  2018   1009000.0
927  C123TH777RUS       1  18000.0       BMW      3  2023  36414000.0
928  C123TH777RUS       2   5000.0       BMW      3  2023   5057500.0
929  H345TK777RUS       2  11000.0  Mercedes    E63  2018  11099000.0

[930 rows x 7 columns]

## 3. Индексирование

### 3.1. Получение строки по условию

In [223]:
%%timeit

fines_df[fines_df['CarNumber'] == 'H345TK777RUS']

163 μs ± 12.1 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

### 3.2. Получение строки по индексу

In [224]:
fines_df_copy = fines_df.set_index('CarNumber')

In [225]:
%%timeit

fines_df_copy.loc['H345TK777RUS']

74.6 μs ± 1.46 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

## 4. Downcasting типов данных в фрейме данных

### 4.1. Изначальные dtypes и использование памяти

In [226]:
fines_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CarNumber  930 non-null    object
 1   Refund     930 non-null    int64
 2   Fines      930 non-null    float64
 3   Make       930 non-null    object
 4   Model      919 non-null    object
 5   Year       930 non-null    int64
 6   Math       930 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 182.1 KB

### 4.2. Понижение float64 до float32 и int64 до минимально возможного

In [227]:
optimized_df = fines_df.copy()
float64_cols = optimized_df.select_dtypes(include='float64').columns
optimized_df[float64_cols] = optimized_df[float64_cols].astype('float32')

int64_cols = optimized_df.select_dtypes(include='int64').columns
optimized_df[int64_cols] = optimized_df[int64_cols].apply(lambda x: pd.to_numeric(x, downcast='integer'))

### 4.3. Dtypes и использование памяти после оптимизации float и integer

In [228]:
optimized_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CarNumber  930 non-null    object
 1   Refund     930 non-null    int8
 2   Fines      930 non-null    float32
 3   Make       930 non-null    object
 4   Model      919 non-null    object
 5   Year       930 non-null    int16
 6   Math       930 non-null    float32
dtypes: float32(2), int16(1), int8(1), object(3)
memory usage: 163.1 KB

### 4.4. Оптимизация object данных

In [229]:
object_cols = optimized_df.select_dtypes(include='object').columns
optimized_df[object_cols] = optimized_df[object_cols].astype('category')

### 4.5. Dtypes и использование памяти после оптимизации object

In [230]:
optimized_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CarNumber  930 non-null    category
 1   Refund     930 non-null    int8
 2   Fines      930 non-null    float32
 3   Make       930 non-null    category
 4   Model      919 non-null    category
 5   Year       930 non-null    int16
 6   Math       930 non-null    float32
dtypes: category(3), float32(2), int16(1), int8(1)
memory usage: 63.2 KB

## 5. Удаление исходного фрейма данных

In [231]:
%reset_selective fines_df
gc.collect()

3